@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: #403f40; 
}

/* Header */
.head{
    width: 100%;
    order: 0;
    height: 16vh;
    background-color: #1a1a1a;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
/* Barra de navegacion */
.h-nav{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}
/* Seccion del logo */
.h-n-sect{
    display: flex;
    width: 25%;
}
/* Click de la imagen */
.h-n-s-a{
    height: 10vh;
    margin-left: 3vw;
}
/* Logo */
.h-n-s-a-img{
    width: 100%;
    height: 9vh;
}
/* Seccion del buscador */
.h-n-sect1{
    display: flex;
    justify-content: center;
    width: 50%;
}
/* Form */
.h-n-s1-f{
    display: flex;
    width: 60%;
}
/* Buscador */
.h-n-s1-f-i{
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    text-align: center;
    color: #1a1a1a;
}
/* Boton del buscador */
.h-n-s1-f-b{
    height: 5vh;
    width: 30%;
    border-radius: 10px;
    color: #1a1a1a;
    background-color: #242526;
    outline: none;
    border: none;
    background-color: transparent;
}
/* Imagen de lupa */
.h-n-s1-f-b-img{
    width: 30%;
    margin-right: 4vw;
}
/* Secicon del carrito y login */
.h-n-sect2{
    display: flex;
    justify-content: end;
    width: 25%;
    padding: 3vw;
}
/* imagen carrito */
.h-n-s2-img-a{
    width: 60%;
}
/* Login y register */
.h-n-s2-a{
    margin: 0 1vw;
    color: white;
}




/* Banner */
.banner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
    margin-bottom: 5vh;
    background-color: white;

}
/* Imagen banner */
.img-b{
    width: 80%;
    
    
}




                            /* Main  */
main{
    order: 1;
    width: 70%;
    margin: 0 2vw;
    background-color: #F5F5F7;
    
}
/* Section Main */
.m-s{
    display: flex;
    flex-wrap: wrap;
}

/* Destacados main */
.m-s-h2{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 2vw 2vw ;
}
/* Box Productos */
.m-s-a{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 27%;
    background-color: white;
    margin: 2vw;
    padding: 1vw;
    border-radius: 10px;
}
/* Imagen de productos */
.m-s-a-img{
    margin: 1vh;
    width: 30%;
    background-color: #F5F5F7 ;
    
}
/* Imagen Mac */
.m-s-a-img-mac{
    margin: 1vh;
    width: 45%;
    background-color: #F5F5F7 ;
    
}
/* Ver mas productos */
.m-s-a-s-a{
    text-align: center;
    font-size: 90%;
    width: 50%;
    background-color: rgb(0 113 227);
    border-radius:20px;
    color: white;
}


                    /* Fin main  */



/* Aside */
aside{
    order: 2;
    height: 50vh;
    width: 20%;
    background-color: #F5F5F7;
}
/* Box de la lista */
.aside-sect{
    margin: 4vh 1.5vw;
}
.a-s-ul{
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.a-s-ul-art{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;    
}
/* Imagen aside */
.a-s-ul-a-img{
    width: 1.5vw;
    height: 2vw;
    margin-right: 1vw;
}
/* Lista de categorias */
.a-s-ul-a-a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5vh;
    color: black;
    text-decoration: underline;
}
br{
    width: 80%;
    color: gray;
}
/* H3 Categorias */
.a-s-h3{
    margin-bottom: 4vw;
}
/* Categorias */
.a-s-ul-a{
    width: 15%;
    text-decoration: underline;
    color:black;
}
/* Nuevos lanzamientos */
.sect-lanzamientos{
    order: 4;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2vw;
    background-color: #F5F5F7;
}
/* h3 lanzamientos */
.s-l-h3{
    margin: 2vw 0 0 2vw;
    font-size: 1.5vw;
    width: 100%;
}
/* Caja de productos */
.s-l-art{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin: 2vw 1vw;
    padding: 1vw;
    background-color: white;
    border-radius: 10px;
}
/* Imagen de producto */
.s-l-a-img{
    width: 30%;
}
/* Inicio footer */
footer{
    order: 5;
    width: 100%;
    height: 25vh;
    margin-top: 5vh;
    background-color: #242526;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
/* Nav y nombres */
.f-sect{
    display: flex;
    width: 80%;
    margin-left: 10vw;
}
/* Nav */
.f-s-art{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
/* Nombres */
.f-s-a-ul-li{
    margin: 1vh 0;
    color: white;
}
/* Logo */
.f-sect2{
    width: 20%;
    margin-right: 10vw;
}
/* Logo */
.f-s2-img{
    width: 100%;
}

