@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../img/fondologin2.png");
}
/* Header */
.head{
    width: 100%;
    order: 0;
    height: 16vh;
    background-color: #1a1a1a;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
/* Barra de navegacion */
.h-nav{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}
/* Seccion del logo */
.h-n-sect{
    display: flex;
    width: 25%;
}
/* Click de la imagen */
.h-n-s-a{
    height: 10vh;
    margin-left: 3vw;
}
/* Logo */
.h-n-s-a-img{
    width: 100%;
    height: 9vh;
}
/* Seccion del buscador */
.h-n-sect1{
    display: flex;
    justify-content: center;
    width: 50%;
}
/* Form */
.h-n-s1-f{
    display: flex;
    width: 60%;
}
/* Buscador */
.h-n-s1-f-i{
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    text-align: center;
    color: #1a1a1a;
}
/* Boton del buscador */
.h-n-s1-f-b{
    height: 5vh;
    width: 30%;
    border-radius: 10px;
    color: #1a1a1a;
    background-color: #242526;
    outline: none;
    border: none;
    background-color: transparent;
}
/* Imagen de lupa */
.h-n-s1-f-b-img{
    width: 30%;
    margin-right: 4vw;
}
/* Secicon del carrito y login */
.h-n-sect2{
    display: flex;
    justify-content: end;
    width: 25%;
    padding: 2vw;
}
.h-n-s2-a-img{
    width: 10%;
}
/* imagen carrito */
.h-n-s2-img-a{
    width: 60%;
}
/* Login y register */
.h-n-s2-a{
    margin: 0 .5vw;
    color: white;
}

/* FIn Headeer */


main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
/* caja formulario */
.formulario{

    width: 30vw;
    height: 52vh;
    background: #ffffff;
    padding: 15px;
    
}

/* h1 del formulario */
.formulario h2{
    text-align: center;
    padding: 15px 0 15px 0;
}
/* espacio inicio de sesion */
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}
/* casillero email y contrasenia */
.email{
    position: relative;
    border-bottom: 2px solid gray;
    margin: 30px 0;
}

/* input casillero email */
.email input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;

}
/* label casillero email */
.email label{
    position: absolute;
    top: 50%;
    left: 7px;
    color: #b0aba6;
    transform: translatey(-50%);
    font-size: 16px;
    pointer-events: none;
}

/* boton ingresar */
.ingresar{
    display: flex;
    background-color: #5e5d5d;
    text-align: center;
    border-radius: 10px ;
    width: 100%;
    height: 7vh;
    margin: 15px 0;
    align-items: center;
    cursor: pointer;
}

/* texto ingresar */
.ref-ingresar{
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    cursor: pointer;
}
